doctype html
head
  title ForgotPassword
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='images/icons/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='css/util.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  // ===============================================================================================
.limiter
  .container-login100
    .wrap-login100
      .login100-pic.js-tilt(data-tilt='')
        img(src='images/profile.png' alt='IMG')
      form.login100-form.validate-form(action='/forgotPassword' method='POST')
        span.login100-form-title
          h1 MI BICI
        span.login100-form-title
          | Recuperaci&oacute;n de password
        .text-center.p-t-12
            span.txt1
                | Por favor, ingrese su email y le enviaremos a esa cuenta las instrucciones de reseteo de password
        .text-center.p-t-12
          if info && info.message 
            div.alert.alert-danger
              = info.message
        .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
          input#email.input100(type='text' name='email' placeholder='Email Address')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-envelope(aria-hidden='true')
        .container-login100-form-btn
          button.login100-form-btn(type='submit')
            | Resetear
        .text-center.p-t-12
          span.txt1
            | Ya tengo cuenta
          a.txt2(href='login')
            | Login
        .text-center.p-t-136
          a.txt2(href='../usuarios/createAccount')
            | Create your Account
            i.fa.fa-long-arrow-right.m-l-5(aria-hidden='true')
// ===============================================================================================
script(src='vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(src='vendor/select2/select2.min.js')
// ===============================================================================================
script(src='vendor/tilt/tilt.jquery.min.js')
script.
  $('.js-tilt').tilt({
  scale: 1.1
  })
// ===============================================================================================
script(src='js/main.js')
