doctype html
head
  title Login MI BICI
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='../images/icons/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../css/util.css')
  link(rel='stylesheet' type='text/css' href='../css/main.css')
  // ===============================================================================================
.limiter
  .container-login100
    .wrap-login100
      .login100-pic.js-tilt(data-tilt='')
        img(src='../images/profile.png' alt='IMG')
      form.login100-form.validate-form(action='/login' method='POST')
        span.login100-form-title
          h1 MI BICI
        span.login100-form-title
          | Login
        .text-center.p-t-12
          if succ && succ.message 
            div.alert.alert-success
              = succ.message
        .text-center.p-t-12
          if warning && warning.message 
            div.alert.alert-warning
              = warning.message  
        .text-center.p-t-12
          if info && info.message 
            div.alert.alert-danger
              = info.message        
        .wrap-input100.validate-input(data-validate='El email es requerido, Ej: ex@abc.xyz')
          input#username.input100(type='text' placeholder='Email' name='username')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-envelope(aria-hidden='true')
        .wrap-input100.validate-input(data-validate='Password es requerido')
          input#password.input100(type='password' name='password' placeholder='Password')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-lock(aria-hidden='true')
        .container-login100-form-btn
          button.login100-form-btn(type='submit')
            | Login
        .text-center.p-t-12
          span.txt1
            | Forgot
          a.txt2(href='../forgotPassword')
            | Username / Password?
        .text-center.p-t-12
          span.txt1
            | Iniciar con 
          a.txt2(href='/auth/google')
            | Google
        .text-center.p-t-136
          a.txt2(href='../usuarios/createAccount')
            | Create your Account
            i.fa.fa-long-arrow-right.m-l-5(aria-hidden='true')
// ===============================================================================================
script(src='../vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(src='../vendor/bootstrap/js/popper.js')
script(src='../vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(src='../vendor/select2/select2.min.js')
// ===============================================================================================
script(src='../vendor/tilt/tilt.jquery.min.js')
script.
  $('.js-tilt').tilt({
  scale: 1.1
  })
// ===============================================================================================
script(src='../js/main.js')
