doctype html
head
  title ResetPassword
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='../images/icons/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='../css/util.css')
  link(rel='stylesheet' type='text/css' href='../css/main.css')
  // ===============================================================================================
.limiter
  .container-login100
    .wrap-login100
      .login100-pic.js-tilt(data-tilt='')
        img(src='../images/profile.png' alt='IMG')
      form.login100-form.validate-form(action='/resetPassword' method='post')
        span.login100-form-title
          h1 MI BICI
        input#email(type='hidden' name='email' value= usuario.email)
        span.login100-form-title
          | Cambio de password
        .text-center.p-t-12
          if info && info.message 
            div.alert.alert-danger
              = info.message
        .text-center.p-t-12
          span.txt1
            | Ingrese su nuevo password
        .wrap-input100.validate-input(data-validate='Password es requerido')
          input#password.input100(type='password' name='password' placeholder='Password' class= errors.password ? 'is-invalid' : '')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-lock(aria-hidden='true')
          if errors.password
                small#passwordHelp.text-danger
                  = errors.password.message
        .wrap-input100.validate-input(data-validate='Confirmación de Password es requerida')
          input#confirm_password.input100(type='password' name='confirm_password' placeholder='Confirmar Password' class= errors.confirm_password ? 'is-invalid' : '')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-lock(aria-hidden='true')
          if errors.confirm_password
                small#confirm_passwordHelp.text-danger
                  = errors.confirm_password.message
        .container-login100-form-btn
          button.login100-form-btn(type='submit')
            | Cambiar password
        .text-center.p-t-12
          span.txt1
            | Ya tengo cuenta
          a.txt2(href='login')
            | Login
        .text-center.p-t-136
          a.txt2(href='../usuarios/createAccount')
            | Create your Account
            i.fa.fa-long-arrow-right.m-l-5(aria-hidden='true')
// ===============================================================================================
script(src='../vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(src='../vendor/bootstrap/js/popper.js')
script(src='../vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(src='../vendor/select2/select2.min.js')
// ===============================================================================================
script(src='../vendor/tilt/tilt.jquery.min.js')
script.
  $('.js-tilt').tilt({
  scale: 1.1
  })
// ===============================================================================================
script(src='../js/main.js')
