extends layout

block content
  //Header
  header
    #maincontent.container(tabindex='-1')
      .row
        .col-lg-12
          img.img-responsive(src='img/profile.png' alt='')
          .intro-text
            h1.name Bienvenido a MIBiCI
            hr.star-light
            span.skills Tu espacio para reservar tu bicicleta preferida
  // Portfolio Grid Section
  section#portfolio
    .container
      .row
        .col-lg-12.text-center
          h2 Portafolio
          hr.star-primary
      .row
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#portfolioModal1' data-toggle='modal')
            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            img.img-responsive(src='img/portfolio/montaña.jpg' alt='montaña')
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#portfolioModal2' data-toggle='modal')
            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            img.img-responsive(src='img/portfolio/ruta.jpg' alt='ruta')
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#portfolioModal3' data-toggle='modal')
            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            img.img-responsive(src='img/portfolio/ciudad.jpg' alt='ciudad')
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#portfolioModal4' data-toggle='modal')
            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            img.img-responsive(src='img/portfolio/plegable.jpg' alt='plegable')
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#portfolioModal5' data-toggle='modal')
            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            img.img-responsive(src='img/portfolio/MBX.jpg' alt='MBX')
        .col-sm-4.portfolio-item
          a.portfolio-link(href='#portfolioModal6' data-toggle='modal')
            .caption
              .caption-content
                i.fa.fa-search-plus.fa-3x
            img.img-responsive(src='img/portfolio/electricas.jpg' alt='electricas')
  // Map Section
  section#about.success    
    .container
      .row
        .col-lg-12.text-center
          h2 Bicicletas en mi ciudad
          hr.star-primary
      .row
        #mapid
      .row
        a.btn.btn-warning.btn-lg(type='button' style='margin-top:10px' href='/bicicletas') Ver Bicicletas
  // Contact Section
  section#contact
    .container
        .row
          .col-lg-12.text-center
            h2 Contact Me
            hr.star-primary
        .row
          .col-lg-8.col-lg-offset-2
            // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
            // The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
            form#contactForm(name='sentMessage' novalidate='')
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label(for='name') Name
                  input#name.form-control(type='text' placeholder='Name' required='' data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label(for='email') Email Address
                  input#email.form-control(type='email' placeholder='Email Address' required='' data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label(for='phone') Phone Number
                  input#phone.form-control(type='tel' placeholder='Phone Number' required='' data-validation-required-message='Please enter your phone number.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label(for='message') Message
                  textarea#message.form-control(rows='5' placeholder='Message' required='' data-validation-required-message='Please enter a message.')
                  p.help-block.text-danger
              br
              #success
              .row
                .form-group.col-xs-12
                  button.btn.btn-success.btn-lg(type='submit') Send
  // Portfolio Modals
  #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Bicicletas de Montaña (MTB)
              hr.star-primary
              img.img-responsive.img-centered(src='img/portfolio/montaña.jpg' alt='')
              p
                | Las bicicletas de monta&ntilde;a (tambi&eacute;n conocidas como MTB) est&aacute;n dise&ntilde;adas para &laquo;fuera de ruta&raquo; por lo que son bastante resistentes. Est&aacute;n equipadas con llantas anchas con dibujos marcados para mejorar el agarre en terrenos sueltos. Regularmente usan manubrios rectos o de doble altura.
                | Las MTB se pueden encontrar sin suspensi&oacute;n (r&iacute;gidas), con suspensi&oacute;n delantera (hardtail) o con doble suspensi&oacute;n (full-suspension) dependiendo de su especialidad:
                | Cross country, 
                | Enduro, 
                | Downhill y 
                | Freeride
              ul.list-inline.item-details
                li
                  | Ref:
                  strong
                    a(href='https://labicicleta.info/tipos-de-bicicleta/') labicicleta.info
              button.btn.btn-default(type='button' data-dismiss='modal')
                i.fa.fa-times
                |  Close
  #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Bicicletas de Ruta
              hr.star-primary
              img.img-responsive.img-centered(src='img/portfolio/ruta.jpg' alt='')
              p
                | Son bicicletas orientadas a obtener velocidad en pavimento, de construcción más ligera que otras bicicleta, están dotadas con ruedas más grandes, delgadas y provistas de llantas angostas y con dibujo liso. Las bicis de ruta utilizan manubrios drop-bar para lograr una postura más aerodinámica.
              ul.list-inline.item-details
                li
                  | Ref:
                  strong
                    a(href='https://labicicleta.info/tipos-de-bicicleta/') labicicleta.info
              button.btn.btn-default(type='button' data-dismiss='modal')
                i.fa.fa-times
                |  Close
  #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Bicicletas Urbanas
              hr.star-primary
              img.img-responsive.img-centered(src='img/portfolio/ciudad.jpg' alt='')
              p
                | En este caso nos referimos como bicicleta urbana a las bicis estilo holand&eacute;s (Dutch).
                | Estas bicicletas fueron concebidas para la ciudad, por lo que son de construcci&oacute;n bastante solida tanto en su cuadro como en sus ruedas. Est&aacute;n perfectamente adecuadas para soportar las condiciones de una ciudad (baches, banquetas, topes, etc.)
                | Por lo general cuenta con guardabarros para d&iacute;as de lluvia, portaequipaje y/o canasta para transportar todo lo que necesitas para ir al trabajo, al supermercado, etc. Una caracter&iacute;stica com&uacute;n en este tipo de bicicletas es la presencia de luces para mantenernos siempre visibles a los conductores.
                | Normalmente tienen una sola velocidad, o sistema de cambios internos de ser necesario.
                | Estas bicicletas permiten una posici&oacute;n relajada de torso y brazos.
              ul.list-inline.item-details
                li
                  | Ref:
                  strong
                    a(href='https://labicicleta.info/tipos-de-bicicleta/') labicicleta.info
              button.btn.btn-default(type='button' data-dismiss='modal')
                i.fa.fa-times
                |  Close
  #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Bicicletas plegables
              hr.star-primary
              img.img-responsive.img-centered(src='img/portfolio/plegable.jpg' alt='')
              p
                | La gran mayor&iacute;a de estas bicicletas usan ruedas peque&ntilde;as, siendo 16 y 20&Prime; las m&aacute;s comunes, aunque es posible encontrar plegables con rodados m&aacute;s convencionales. Casi todas las plegables est&aacute;n dise&ntilde;adas para uso urbano, no obstante existen modelos que aguantan viajes largos sin problemas.
                | Un inconveniente de de las ruedas peque&ntilde;as es que son m&aacute;s sensibles a las imperfecciones del camino, aunque si lo que necesitas es una bici que puedes llevar contigo en todo momento no hay como una plegable.
                | En general vienen equipadas con 18- 20 cambios.
              ul.list-inline.item-details
                li
                  | Ref:
                  strong
                    a(href='https://labicicleta.info/tipos-de-bicicleta/') labicicleta.info
              button.btn.btn-default(type='button' data-dismiss='modal')
                i.fa.fa-times
                |  Close
  #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 MBX
              hr.star-primary
              img.img-responsive.img-centered(src='img/portfolio/MBX.jpg' alt='')
              p
                | Las BMX utilizan cuadros peque&ntilde;os y resistentes, ideales para saltos y acrobacias. Existen diferentes variables de estas bicicletas, algunas con llantas anchas para usarse en terrenos sueltos y otras con llantas un poco m&aacute;s delgadas y lisas para usarse en rampas o en la calle. Estas bicicletas no son eficientes como medio de transporte.
              ul.list-inline.item-details
                li
                  | Ref:
                  strong
                    a(href='https://labicicleta.info/tipos-de-bicicleta/') labicicleta.info
              button.btn.btn-default(type='button' data-dismiss='modal')
                i.fa.fa-times
                |  Close
  #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Eléctricas
              hr.star-primary
              img.img-responsive.img-centered(src='img/portfolio/electricas.jpg' alt='')
              p
                | En la actualidad se puede encontar versiones de pedaleo asistido (el&eacute;ctricas) de casi cualquier tipo de bicicleta. Las bicicletas el&eacute;ctricas son todas aquellas bicis que utilizan un motor para asistir el pedaleo. Su principal ventaja es a la hora de subir pendientes, pedalear contra el viento (hay lugares donde el viento es muy intenso) o para quien tiene que pedalear largas distancias para ir al trabajo y quiere reducir el esfuerzo. Por otro lado estas bicis son m&aacute;s costosas y pesadas que el resto.
              ul.list-inline.item-details
                li
                  | Ref:
                  strong
                    a(href='https://labicicleta.info/tipos-de-bicicleta/') labicicleta.info
              button.btn.btn-default(type='button' data-dismiss='modal')
                i.fa.fa-times
                |  Close
  // jQuery
  script(src='/vendor/jquery/jquery.min.js')
  //Leaflet
  script(src='js/map.js')
