doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='')
    title MIBICI

    // Bootstrap Core CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')

    // Theme CSS
    link(href='/stylesheets/freelancer.min.css' rel='stylesheet')

    // Theme CSS Origin
    link(href='/stylesheets/style.css' rel='stylesheet')

    // Custom Fonts
    link(href='/vendor/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    //Leaflet 
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')

  body#page-top.index
    #skipnav
    a(href='#maincontent') Skip to main content
    // Navigation
    nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu 
            i.fa.fa-bars
          a.navbar-brand(href='/') MiBici
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='/#page-top')
            li.page-scroll
              a(href='/#portfolio') Portafolio
            li.page-scroll
              a(href='/#about') Mapa
            li.page-scroll
              a(href='/#contact') Contact
            li.page-scroll
              a(href='/bicicletas') Bicicletas
            li.page-scroll
              a(href='/usuarios') Usuarios
            li.page-scroll
              a(href='/reservas') Reservas
            li.page-scroll               
              a(href='/logout') Salir
        // /.navbar-collapse
      // /.container-fluid
    // Header
    //header
      #maincontent.container(tabindex='-1')
        .row
          .col-lg-12
            img.img-responsive(src='img/profile.png' alt='')
            .intro-text
              h1.name Start Bootstrap
              hr.star-light
              span.skills Web Developer - Graphic Artist - User Experience Designer
    block content
    // Portfolio Grid Section
    //section#portfolio
      .container
        .row
          .col-lg-12.text-center
            h2 Portfolio
            hr.star-primary
        .row
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal1' data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/cabin.png' alt='Cabin')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal2' data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/cake.png' alt='Slice of cake')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal3' data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/circus.png' alt='Circus tent')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal4' data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/game.png' alt='Game controller')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal5' data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/safe.png' alt='Safe')
          .col-sm-4.portfolio-item
            a.portfolio-link(href='#portfolioModal6' data-toggle='modal')
              .caption
                .caption-content
                  i.fa.fa-search-plus.fa-3x
              img.img-responsive(src='img/portfolio/submarine.png' alt='Submarine')
    // About Section
    //section#about.success
      #mapid
    // Contact Section
    //section#contact
      .container
        .row
          .col-lg-12.text-center
            h2 Contact Me
            hr.star-primary
        .row
          .col-lg-8.col-lg-offset-2
            // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
            // The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
            form#contactForm(name='sentMessage' novalidate='')
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label(for='name') Name
                  input#name.form-control(type='text' placeholder='Name' required='' data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label(for='email') Email Address
                  input#email.form-control(type='email' placeholder='Email Address' required='' data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label(for='phone') Phone Number
                  input#phone.form-control(type='tel' placeholder='Phone Number' required='' data-validation-required-message='Please enter your phone number.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label(for='message') Message
                  textarea#message.form-control(rows='5' placeholder='Message' required='' data-validation-required-message='Please enter a message.')
                  p.help-block.text-danger
              br
              #success
              .row
                .form-group.col-xs-12
                  button.btn.btn-success.btn-lg(type='submit') Send
    // Footer
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 Location
              p
                | 3481 Melrose Place
                br
                | Beverly Hills, CA 90210
            .footer-col.col-md-4
              h3 Around the Web
              ul.list-inline
                li
                  a.btn-social.btn-outline(href='#')
                    span.sr-only Facebook
                    i.fa.fa-fw.fa-facebook
                li
                  a.btn-social.btn-outline(href='#')
                    span.sr-only Google Plus
                    i.fa.fa-fw.fa-google-plus
                li
                  a.btn-social.btn-outline(href='#')
                    span.sr-only Twitter
                    i.fa.fa-fw.fa-twitter
                li
                  a.btn-social.btn-outline(href='#')
                    span.sr-only Linked In
                    i.fa.fa-fw.fa-linkedin
                li
                  a.btn-social.btn-outline(href='#')
                    span.sr-only Dribble
                    i.fa.fa-fw.fa-dribbble
            .footer-col.col-md-4
              h3 About Freelancer
              p
                | Freelance is a free to use, open source Bootstrap theme created by 
                a(href='http://startbootstrap.com') Start Bootstrap
                | .
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright &copy; Your Website 2016
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.hidden-sm.hidden-xs.hidden-lg.hidden-md
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
    // jQuery
    script(src='/vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    // Contact Form JavaScript
    script(src='/js/jqBootstrapValidation.js')
    script(src='/js/contact_me.js')
    // Theme JavaScript
    script(src='/js/freelancer.min.js')
    
