extends ../layout

block content
    section#Contenido
      .container
        .row
            .col-lg-12.text-center
                h2  Nuevo Usuario
                hr.star-primary                
            .row
            .col-lg-12
                a.btn.btn-primary(href='/usuarios') Listar Usuarios
                hr
                form(action='/usuarios/create' method='post')        
                    //- .form-group
                    //-     label(for='code') Identificador
                    //-     input#code.form-control(type='text' name='code')
                    //- .form-group
                    //-     label(for='color') Color
                    //-     input#color.form-control(type='text' name='color')
                    //- .form-group
                    //-     label(for='modelo') Modelo
                    //-     input#modelo.form-control(type='text' name='modelo')
                    //- .form-group
                    //-     label(for='lat') Latitud
                    //-     input#lat.form-control(type='text' name='lat')
                    //- .form-group
                    //-     label(for='lon') Longitud
                    //-     input#lon.form-control(type='text' name='lon')

                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label(for='nombre') Nombre
                            input#nombre.form-control(name='nombre' type='text' placeholder='Nombre' value= usuario.nombre class=errors.nombre ? 'is-invalid' : '')
                            if errors.nombre
                                p.text-danger
                                    = errors.nombre.message
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label(for='email') Email Address
                            input#email.form-control(name='email' type='email' placeholder='Correo electrónico'  value= usuario.email class=errors.email ? 'is-invalid' : '')
                            if errors.email
                                p.text-danger
                                    = errors.email.message
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label(for='pwd') Password
                            input#pwd.form-control(name='pwd' type='password' placeholder='Password' value= usuario.password class=errors.password ? 'is-invalid' : '')
                            if errors.password
                                p.text-danger
                                    = errors.password.message
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label(for='confirm_pwd') Confirmar Password
                            input#confirm_pwd.form-control(name='confirm_pwd' type='password' placeholder='Password' value= usuario.confirm_password class=errors.confirm_password ? 'is-invalid' : '')
                            if errors.confirm_password
                                p.text-danger
                                    = errors.confirm_password.message
                    br
                    #success
                    .row
                        .form-group.col-xs-12
                        button.btn.btn-success.btn-lg(type='submit') Guardar
                        