extends ../layout

block content
    section#Contenido
      .container
        .row
            .col-lg-12.text-center
                h2  Detalle de Usuario
                hr.star-primary                
            .row
            .col-lg-12       
                a.btn.btn-primary(href='/usuarios') Lista Usuarios
                hr
                form
                    .form-group.row
                        label.col-sm-2.col-form-label Identificador:
                        .col-sm-10
                            p#code(name='id') 
                                =user._id
                    .form-group.row
                        label.col-sm-2.col-form-label Color:
                        .col-sm-10
                            p#color(name='nombre' ) 
                                =user.nombre
                    .form-group.row
                        label.col-sm-2.col-form-label Email:
                        .col-sm-10
                            p#email(name='email' ) 
                                =user.email
                    .form-group.row
                        label.col-sm-2.col-form-label Verificado:
                        .col-sm-10
                            p#ver(name='ver' ) 
                                =user.verificado ? 'Si' : 'No'
                    
                    a.btn.btn-warning(href='/usuarios/update/' + user._id) Editar