extend ../layout

block content
    section#Contenido
      .container
        .row
          .col-lg-12.text-center
            h1 Lista de Usuarios
            hr.star-primary            
        .row
          a.btn.btn-primary(href='/usuarios/create') Crear Usuario
          hr
          .col-lg-12(style="overflow-x:auto;")
            table.table
                thead
                    tr
                      th(scope='col') Id
                      th(scope='col') Nombre
                      th(scope='col') Email
                      th(scope='col') Verificado
                      th(scope='col') Gestión
                tbody
                    each user in usuarios
                        tr
                            td= user._id
                            td= user.nombre
                            td= user.email
                            td= user.verificado ? 'Si' : 'No'
                            td   
                              .col-sm-4                           
                                a.btn.btn-warning(href='/usuarios/update/' + user._id) Editar                              
                              .col-sm-4                              
                                a.btn.btn-primary(href='/usuarios/detail/' + user._id) Detalle
                              .col-sm-4
                                form.inline(method='post' action='usuarios/delete/' + user._id)
                                  input(type="hidden" name='id' value=user._id)
                                  button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger')
                                    = 'Eliminar'