extends ../layout

block content
    section#Contenido
      .container
        .row
            .col-lg-12.text-center
                h2  Editar Usuario
                hr.star-primary                
            .row
            .col-lg-12                
                a.btn.btn-primary(href='/usuarios') Listar Usuarios
                hr
                form(action=`/usuarios/update/${usuario._id}` method='post')
                    //- .form-group
                    //-     label(for='code') Identificador
                    //-     input#code.form-control(type='text' name='code' value=bici.code)
                    //- .form-group
                    //-     label(for='color') Color
                    //-     input#color.form-control(type='text' name='color' value=bici.color)
                    //- .form-group
                    //-     label(for='modelo') Modelo
                    //-     input#modelo.form-control(type='text' name='modelo' value=bici.modelo)
                    //- .form-group
                    //-     label(for='lat') Latitud
                    //-     input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0])
                    //- .form-group
                    //-     label(for='lon') Longitud
                    //-     input#lon.form-control(type='text' name='lon' value=bici.ubicacion[1])
                    //- button.btn.btn-success(type='submit') Guardar
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label(for='nombre') Nombre
                            input#nombre.form-control(name='nombre' type='text' placeholder='Nombre' value= usuario.nombre class=errors.nombre ? 'is-invalid' : '')
                            if errors.nombre
                                p.text-danger
                                    = errors.nombre.message                    
                    br
                    #success
                    .row
                        .form-group.col-xs-12
                        button.btn.btn-success.btn-lg(type='submit') Guardar