extends ../layout

block content
    section#Contenido
      .container
        .row
            .col-lg-12.text-center
                h2  Nueva bicicleta
                hr.star-primary                
            .row
            .col-lg-12
                a.btn.btn-primary(href='/bicicletas') Listar bicicletas
                hr
                form(action='/bicicletas/create' method='post')        
                    //- .form-group
                    //-     label(for='code') Identificador
                    //-     input#code.form-control(type='text' name='code')
                    //- .form-group
                    //-     label(for='color') Color
                    //-     input#color.form-control(type='text' name='color')
                    //- .form-group
                    //-     label(for='modelo') Modelo
                    //-     input#modelo.form-control(type='text' name='modelo')
                    //- .form-group
                    //-     label(for='lat') Latitud
                    //-     input#lat.form-control(type='text' name='lat')
                    //- .form-group
                    //-     label(for='lon') Longitud
                    //-     input#lon.form-control(type='text' name='lon')

                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label(for='code') Identificador
                            input#code.form-control(name='code' type='number' placeholder='Identificador' required='' data-validation-required-message='Ingresa el identificador.')
                            p.help-block.text-danger
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label(for='color') Color
                            input#color.form-control(name='color' type='text' placeholder='Color' required='' data-validation-required-message='Ingresa el color.')
                            p.help-block.text-danger
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label(for='modelo') Modelo
                            input#modelo.form-control(name='modelo' type='text' placeholder='Modelo' required='' data-validation-required-message='Ingresa el modelo.')
                            p.help-block.text-danger
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label(for='lat') Latitud
                            input#lat.form-control(name='lat' type='decimal' placeholder='Latitud' required='' data-validation-required-message='Ingresa la Latitud.')
                            p.help-block.text-danger
                    .row.control-group
                        .form-group.col-xs-12.floating-label-form-group.controls
                            label(for='lon') Longitud
                            input#lon.form-control(name='lon' type='decimal' placeholder='Longitud' required='' data-validation-required-message='Ingresa la Longitud.')
                            p.help-block.text-danger
                    br
                    #success
                    .row
                        .form-group.col-xs-12
                        button.btn.btn-success.btn-lg(type='submit') Guardar
                        