extend ../layout

block content
    section#Contenido
      .container
        .row
          .col-lg-12.text-center
            h1 Lista de bicicletas
            hr.star-primary            
        .row
          a.btn.btn-primary(href='/bicicletas/create') Crear bicicleta
          hr
          .col-lg-12(style="overflow-x:auto;")
            table.table
                thead
                    tr
                      th(scope='col') #
                      th(scope='col') Color
                      th(scope='col') Modelo
                      th(scope='col') Ubicación
                      th(scope='col') Gestión
                tbody
                    each bici in bicis
                        tr
                            td(scope='row')
                              = bici.code
                            td= bici.color
                            td= bici.modelo
                            td= bici.ubicacion
                            td   
                              .col-sm-4                           
                                a.btn.btn-warning(href='/bicicletas/update/' + bici.code) Editar                              
                              .col-sm-4                              
                                a.btn.btn-primary(href='/bicicletas/detail/' + bici.code) Detalle
                              .col-sm-4
                                form.inline(method='post' action='bicicletas/delete/' + bici.code)
                                  input(type="hidden" name='code' value=bici.code)
                                  button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger')
                                    = 'Eliminar'